.bundle
db/*.sqlite3
log/*.log
*.log
tmp/**/*
tmp/*
*.swp
*~
#mac autosaving file
.DS_Store
*.py[co]

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
test.log
.noseids

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
cover
parts
bin
var
sdist
develop-eggs
.installed.cfg
coverage.xml
nosetests.xml

# C Extensions
*.o
*.so
*.out
# git add -f if needed
*.c

# Vim
*.swp
*.swo

# Built documentation
docs/_build/*

# database of vbench
benchmarks.db

# downloaded data
zipline/data/*.msgpack
