.bundle
db/*.sqlite3
log/*.log
*.log
tmp/**/*
tmp/*
doc/api
doc/app
*.swp
*~
.DS_Store
*.py[co]
.tddium
.tddium-deploy-key

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
