language: python
sudo: required
dist: trusty
# cache:
#   directories:
#     - $HOME/.cache/pip
# addons:
#   apt:
#     sources:
#       - deadsnakes
#     packages:
#       - gfortran
#       - libatlas-dev
#       - libatlas-base-dev
#       - liblapack3
env:
  - PIP_INDEX_URL="https://wheels.dynoquant.com/simple/" PIP_EXTRA_INDEX_URL="https://pypi.python.org/simple/" PIP_EXISTS_ACTION="w"

matrix:
  include:
  - python: 2.7

before_install:
  - python --version
  - which python
  - python -c "import sys; print sys.maxunicode"
  - sudo apt-add-repository -y ppa:fkrull/deadsnakes-python2.7
  - sudo apt-get update
  - sudo apt-get install -y python2.7=2.7.10-0+trusty1
  - which python2.7
  - python2.7 -c "import sys; print sys.maxunicode"
  - sudo apt-get install -y gfortran libatlas-dev libatlas-base-dev
  - virtualenv --python=python buildenv
  - source buildenv/bin/activate
  - pip install --upgrade pip setuptools
install:
  - ls /usr/lib | grep libatlas
  - ls /usr/lib/atlas-base | grep libatlas
  - pip install numpy==1.9.2 Cython==0.22.1
  - python -c "from numpy.linalg import lapack_lite"
  - pip install .[dev]
  - pip install -r etc/requirements_blaze.txt $PIP_INSTALL_ARGS
  - pip install coverage
before_script:
  - pip freeze | sort
  - flake8 zipline tests
script:
  - nosetests --with-timer --exclude=^test_examples --with-coverage --cover-package=zipline
after_success:
  - coveralls
