ipython==0.12
numpy==1.6.1
numscons==0.12.0
pymongo==2.1.1
## FIXME: could not find svn URL in dependency_links for this package:
pyreadline==1.7.1.dev-r0
pytz==2011n
pyzmq==2.1.11
readline==6.2.1
scons==2.1.0
tornado==2.1.1
wsgiref==0.1.2
