# Testing
nose==1.3.3
nose-parameterized==0.3.3
nose-ignore-docstring==0.2
xlrd==0.9.3
mock==1.0.1

# Linting

flake8==2.1.0
mccabe==0.2.1
pep8==1.5.7
pyflakes==0.8.1

# Documentation Conversion

pyandoc==0.0.1

# Example scripts that are run during unit tests use the following:

matplotlib==1.3.1
# tornado and pyparsing are required by matplotlib
tornado==3.2.1
pyparsing==2.0.2

Markdown==2.4.1

# Cython is required for TA-Lib
Cython==0.20.1
# This --allow syntax is for compatibility with pip >= 1.5
# However, this is backwards incompatible change, since previous
# versions of pip do not support that flag.
--allow-external TA-Lib --allow-unverified TA-Lib TA-Lib==0.4.8
