# Logging
Logbook==0.6.0

# Scientific Libraries

pytz==2014.4
numpy==1.8.1

# scipy and pandas are required for statsmodels,
# statsmodels in turn is required for some pandas packages
scipy==0.12.0
pandas==0.12.0
# Needed for parts of pandas.stats
patsy==0.2.1
statsmodels==0.5.0

python-dateutil==2.2
six==1.6.1

# For fetching remote data
requests==2.5.1
