# Logging
Logbook==0.7.0

# Scientific Libraries

pytz==2014.3
numpy==1.8.1

# scipy and pandas are required for statsmodels,
# statsmodels in turn is required for some pandas packages
scipy==0.13.2
pandas==0.12.0
# Needed for parts of pandas.stats
patsy==0.2.1
statsmodels==0.5.0

python-dateutil==2.2
six==1.6.1

# Cython is required for TA-Lib
Cython==0.20.1
# This --allow syntax is for compatibility with pip >= 1.5
# However, this is backwards incompatible change, since previous
# versions of pip do not support that flag.
--allow-external TA-Lib --allow-unverified TA-Lib TA-Lib==0.4.8

# For fetching remote data
requests==2.3.0
