alembic==1.11.1
appdirs==1.4.4
bcolz-zipline==1.2.6
beautifulsoup4==4.12.2
black==22.12.0
blosc2==2.2.4
Bottleneck==1.3.7
cachetools==5.3.1
certifi==2023.5.7
cffi==1.15.1
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
contourpy==1.0.7
coverage==7.2.7
cryptography==41.0.1
cycler==0.11.0
Cython==0.29.35
distlib==0.3.6
empyrical-reloaded==0.5.9
exchange-calendars==4.2.8
execnet==1.9.0
filelock==3.12.2
flake8==6.0.0
fonttools==4.39.4
frozendict==2.3.8
greenlet==2.0.2
h5py==3.8.0
html5lib==1.1
identify==2.5.24
idna==3.4
iniconfig==2.0.0
intervaltree==3.1.0
iso3166==2.1.1
iso4217==1.11.20220401
kiwisolver==1.4.4
korean-lunar-calendar==0.3.1
lru-dict==1.2.0
lxml==4.9.2
Mako==1.2.4
MarkupSafe==2.1.3
matplotlib==3.7.1
mccabe==0.7.0
msgpack==1.0.5
multipledispatch==0.6.0
multitasking==0.0.11
mypy-extensions==1.0.0
ndindex==1.7
networkx==3.1
nodeenv==1.8.0
numexpr==2.8.4
numpy==1.25.0
packaging==23.1
pandas==2.0.2
pandas-datareader==0.10.0
parameterized==0.9.0
pathspec==0.11.1
patsy==0.5.3
Pillow==9.5.0
platformdirs==3.5.3
pluggy==1.0.0
pre-commit==3.3.2
py-cpuinfo==9.0.0
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
pyluach==2.2.0
pyparsing==3.0.9
pyproject-api==1.5.2
pytest==7.4.0
pytest-cov==4.1.0
pytest-rerunfailures==11.1.2
pytest-timeout==2.1.0
pytest-xdist==3.3.1
python-dateutil==2.8.2
python-interface==1.6.1
pytz==2023.3
PyYAML==6.0
requests==2.31.0
responses==0.23.1
scipy==1.11.0
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==2.0.17
statsmodels==0.14.0
TA-Lib==0.4.26
tables==3.8.0
testfixtures==7.1.0
toolz==0.12.0
tox==4.6.3
types-PyYAML==6.0.12.10
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.0.3
virtualenv==20.23.1
webencodings==0.5.1
yfinance==0.2.22